
.menu-btn {
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 1rem;
    height: 20px;
    width: 20px;
    cursor: pointer;
    @include transition-ease;

    &__burger {
        position: absolute;
        right: 0;
        top: 0.5rem;
        width: 28px;
        height: 3px;
        background: white;
        @include transition-ease;

        &::before {
            content: '';
            position: absolute;
            top: -0.5rem;
            right: 0;
            width: 28px;
            height: 3px;
            background: white;
            @include transition-ease;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0.5rem;
            right: 0;
            width: 20px;
            height: 3px;
            background: white;
            @include transition-ease;
        }

        &.open {
            transform: rotate(720deg);
            background: transparent;

            &::before {
                transform: rotate(45deg) translate(5px, 8px);
            }

            &::after {
                width: 28px;
                transform: rotate(-45deg) translate(3px, -7px);
            }
        }
    }
}


.curtain {

    .player__info-video {
        position: relative;
        top: -2rem;
        left: 4.5rem;
    }

    .player__info-link {
        text-decoration: none;
        color: white;
        visibility: hidden;
    }


    &.open {
        .curtain {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .player__info-item {
            visibility: hidden;
        }

        .player__info-video {
            visibility: visible;
        }

        .player__info-link {
            margin: auto;
            text-decoration: none;
            color: white;
            visibility: visible;
            font-style: italic;
            font-size: 1rem;

            &:hover {
                color: orange;
                transition: all .5s ease-in-out;
            }
        }

        background: rgba(145, 127, 127, 0.527);
        border-radius: 8px;
        @include transition-ease;
    }
}

